<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-openstack-index") %>>
          <a href="/docs/providers/openstack/index.html">OpenStack Provider</a>
        </li>

        <li<%= sidebar_current("docs-openstack-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-datasource-blockstorage-availability-zones-v3") %>>
              <a href="/docs/providers/openstack/d/blockstorage_availability_zones_v3.html">openstack_blockstorage_availability_zones_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-blockstorage-snapshot-v2") %>>
              <a href="/docs/providers/openstack/d/blockstorage_snapshot_v2.html">openstack_blockstorage_snapshot_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-blockstorage-snapshot-v3") %>>
              <a href="/docs/providers/openstack/d/blockstorage_snapshot_v3.html">openstack_blockstorage_snapshot_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/openstack/d/blockstorage_volume_v2.html">openstack_blockstorage_snapshot_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-compute-availability-zones-v2") %>>
              <a href="/docs/providers/openstack/d/compute_availability_zones_v2.html">openstack_compute_availability_zones_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-compute-flavor-v2") %>>
              <a href="/docs/providers/openstack/d/compute_flavor_v2.html">openstack_compute_flavor_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-compute-keypair-v2") %>>
              <a href="/docs/providers/openstack/d/compute_keypair_v2.html">openstack_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-containerinfra-cluster-v1") %>>
              <a href="/docs/providers/openstack/d/containerinfra_cluster_v1.html">openstack_containerinfra_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-containerinfra-clustertemplate-v1") %>>
              <a href="/docs/providers/openstack/d/containerinfra_clustertemplate_v1.html">openstack_containerinfra_clustertemplate_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-dns-zone-v2") %>>
              <a href="/docs/providers/openstack/d/dns_zone_v2.html">openstack_dns_zone_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-fw-policy-v1") %>>
              <a href="/docs/providers/openstack/d/fw_policy_v1.html">openstack_fw_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-auth-scope-v3") %>>
              <a href="/docs/providers/openstack/d/identity_auth_scope_v3.html">openstack_identity_auth_scope_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-endpoint-v3") %>>
              <a href="/docs/providers/openstack/d/identity_endpoint_v3.html">openstack_identity_endpoint_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-group-v3") %>>
              <a href="/docs/providers/openstack/d/identity_group_v3.html">openstack_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-project-v3") %>>
              <a href="/docs/providers/openstack/d/identity_project_v3.html">openstack_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-role-v3") %>>
              <a href="/docs/providers/openstack/d/identity_role_v3.html">openstack_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-user-v3") %>>
              <a href="/docs/providers/openstack/d/identity_user_v3.html">openstack_identity_user_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-identity-service-v3") %>>
              <a href="/docs/providers/openstack/d/identity_service_v3.html">openstack_identity_service_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-images-image-v2") %>>
              <a href="/docs/providers/openstack/d/images_image_v2.html">openstack_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-addressscope-v2") %>>
              <a href="/docs/providers/openstack/d/networking_addressscope_v2.html">openstack_networking_addressscope_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-floatingip-v2") %>>
              <a href="/docs/providers/openstack/d/networking_floatingip_v2.html">openstack_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-network-v2") %>>
              <a href="/docs/providers/openstack/d/networking_network_v2.html">openstack_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-qos-bandwidth-limit-rule-v2") %>>
              <a href="/docs/providers/openstack/d/networking_qos_bandwidth_limit_rule_v2.html">openstack_networking_qos_bandwidth_limit_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-qos-dscp-marking-rule-v2") %>>
              <a href="/docs/providers/openstack/d/networking_qos_dscp_marking_rule_v2.html">openstack_networking_qos_dscp_marking_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-qos-minimum-bandwidth-rule-v2") %>>
              <a href="/docs/providers/openstack/d/networking_qos_minimum_bandwidth_rule_v2.html">openstack_networking_qos_minimum_bandwidth_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-qos-policy-v2") %>>
              <a href="/docs/providers/openstack/d/networking_qos_policy_v2.html">openstack_networking_qos_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-router-v2") %>>
              <a href="/docs/providers/openstack/d/networking_router_v2.html">openstack_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/openstack/d/networking_secgroup_v2.html">openstack_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-subnet-v2") %>>
              <a href="/docs/providers/openstack/d/networking_subnet_v2.html">openstack_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-subnetpool-v2") %>>
              <a href="/docs/providers/openstack/d/networking_subnetpool_v2.html">openstack_networking_subnetpool_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-port-v2") %>>
              <a href="/docs/providers/openstack/d/networking_port_v2.html">openstack_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-port-ids-v2") %>>
              <a href="/docs/providers/openstack/d/networking_port_ids_v2.html">openstack_networking_port_ids_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-networking-trunk-v2") %>>
              <a href="/docs/providers/openstack/d/networking_trunk_v2.html">openstack_networking_trunk_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-sharedfilesystem-availability-zones-v2") %>>
              <a href="/docs/providers/openstack/d/sharedfilesystem_availability_zones_v2.html">openstack_sharedfilesystem_availability_zones_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-sharedfilesystem-share-v2") %>>
              <a href="/docs/providers/openstack/d/sharedfilesystem_share_v2.html">openstack_sharedfilesystem_share_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-sharedfilesystem-sharenetwork-v2") %>>
              <a href="/docs/providers/openstack/d/sharedfilesystem_sharenetwork_v2.html">openstack_sharedfilesystem_sharenetwork_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-sharedfilesystem-snapshot-v2") %>>
              <a href="/docs/providers/openstack/d/sharedfilesystem_snapshot_v2.html">openstack_sharedfilesystem_snapshot_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-keymanager-secret-v1") %>>
              <a href="/docs/providers/openstack/d/keymanager_secret_v1.html">openstack_keymanager_secret_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-keymanager-container-v1") %>>
              <a href="/docs/providers/openstack/d/keymanager_container_v1.html">openstack_keymanager_container_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-volume-v1") %>>
              <a href="/docs/providers/openstack/r/blockstorage_volume_v1.html">openstack_blockstorage_volume_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-quotaset-v2") %>>
              <a href="/docs/providers/openstack/r/blockstorage_quotaset_v2.html">openstack_blockstorage_quotaset_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/openstack/r/blockstorage_volume_v2.html">openstack_blockstorage_volume_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-volume-attach-v2") %>>
              <a href="/docs/providers/openstack/r/blockstorage_volume_attach_v2.html">openstack_blockstorage_volume_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-quotaset-v3") %>>
              <a href="/docs/providers/openstack/r/blockstorage_quotaset_v3.html">openstack_blockstorage_quotaset_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-volume-v3") %>>
              <a href="/docs/providers/openstack/r/blockstorage_volume_v3.html">openstack_blockstorage_volume_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-blockstorage-volume-attach-v3") %>>
              <a href="/docs/providers/openstack/r/blockstorage_volume_attach_v3.html">openstack_blockstorage_volume_attach_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-compute-flavor-v2") %>>
              <a href="/docs/providers/openstack/r/compute_flavor_v2.html">openstack_compute_flavor_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-flavor-access-v2") %>>
              <a href="/docs/providers/openstack/r/compute_flavor_access_v2.html">openstack_compute_flavor_access_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/openstack/r/compute_floatingip_v2.html">openstack_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/openstack/r/compute_floatingip_associate_v2.html">openstack_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-instance-v2") %>>
              <a href="/docs/providers/openstack/r/compute_instance_v2.html">openstack_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-interface-attach-v2") %>>
              <a href="/docs/providers/openstack/r/compute_interface_attach_v2.html">openstack_compute_interface_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/openstack/r/compute_keypair_v2.html">openstack_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/openstack/r/compute_secgroup_v2.html">openstack_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/openstack/r/compute_servergroup_v2.html">openstack_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-quotaset-v2") %>>
              <a href="/docs/providers/openstack/r/compute_quotaset_v2.html">openstack_compute_quotaset_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/openstack/r/compute_volume_attach_v2.html">openstack_compute_volume_attach_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-containerinfra") %>>
          <a href="#">Container Infra Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-containerinfra-cluster-v1") %>>
              <a href="/docs/providers/openstack/r/containerinfra_cluster_v1.html">openstack_containerinfra_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-containerinfra-clustertemplate-v1") %>>
              <a href="/docs/providers/openstack/r/containerinfra_clustertemplate_v1.html">openstack_containerinfra_clustertemplate_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-db") %>>
          <a href="#">Database Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-db-instance-v1") %>>
              <a href="/docs/providers/openstack/r/db_instance_v1.html">openstack_db_instance_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-db-database-v1") %>>
              <a href="/docs/providers/openstack/r/db_database_v1.html">openstack_db_database_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-db-user-v1") %>>
              <a href="/docs/providers/openstack/r/db_user_v1.html">openstack_db_user_v1</a>
            <li<%= sidebar_current("docs-openstack-resource-db-configuration-v1") %>>
              <a href="/docs/providers/openstack/r/db_configuration_v1.html">openstack_db_configuration_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/openstack/r/dns_recordset_v2.html">openstack_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-dns-zone-v2") %>>
              <a href="/docs/providers/openstack/r/dns_zone_v2.html">openstack_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-identity") %>>
          <a href="#">Identity Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-identity-application-credential-v3") %>>
              <a href="/docs/providers/openstack/r/identity_application_credential_v3.html">openstack_identity_application_credential_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-endpoint-v3") %>>
              <a href="/docs/providers/openstack/r/identity_endpoint_v3.html">openstack_identity_endpoint_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-project-v3") %>>
              <a href="/docs/providers/openstack/r/identity_project_v3.html">openstack_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-role-v3") %>>
              <a href="/docs/providers/openstack/r/identity_role_v3.html">openstack_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-role-assignment-v3") %>>
              <a href="/docs/providers/openstack/r/identity_role_assignment_v3.html">openstack_identity_role_assignment_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-user-v3") %>>
              <a href="/docs/providers/openstack/r/identity_user_v3.html">openstack_identity_user_v3</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-identity-service-v3") %>>
              <a href="/docs/providers/openstack/r/identity_service_v3.html">openstack_identity_service_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-images-image-v2") %>>
              <a href="/docs/providers/openstack/r/images_image_v2.html">openstack_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-images-image-access-v2") %>>
              <a href="/docs/providers/openstack/r/images_image_access_v2.html">openstack_images_image_access_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-images-image-access-accept-v2") %>>
              <a href="/docs/providers/openstack/r/images_image_access_accept_v2.html">openstack_images_image_access_accept_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-networking-addressscope-v2") %>>
              <a href="/docs/providers/openstack/r/networking_addressscope_v2.html">openstack_networking_addressscope_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/openstack/r/networking_floatingip_v2.html">openstack_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-floatingip-associate-v2") %>>
              <a href="/docs/providers/openstack/r/networking_floatingip_associate_v2.html">openstack_networking_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-network-v2") %>>
              <a href="/docs/providers/openstack/r/networking_network_v2.html">openstack_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-port-v2") %>>
              <a href="/docs/providers/openstack/r/networking_port_v2.html">openstack_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-port-secgroup-associate-v2") %>>
              <a href="/docs/providers/openstack/r/networking_port_secgroup_associate_v2.html">openstack_networking_port_secgroup_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-qos-bandwidth-limit-rule-v2") %>>
              <a href="/docs/providers/openstack/r/networking_qos_bandwidth_limit_rule_v2.html">openstack_networking_qos_bandwidth_limit_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-qos-dscp-marking-rule-v2") %>>
              <a href="/docs/providers/openstack/r/networking_qos_dscp_marking_rule_v2.html">openstack_networking_qos_dscp_marking_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-qos-minimum-bandwidth-rule-v2") %>>
              <a href="/docs/providers/openstack/r/networking_qos_minimum_bandwidth_rule_v2.html">openstack_networking_qos_minimum_bandwidth_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-qos-policy-v2") %>>
              <a href="/docs/providers/openstack/r/networking_qos_policy_v2.html">openstack_networking_qos_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-quota-v2") %>>
              <a href="/docs/providers/openstack/r/networking_quota_v2.html">openstack_networking_quota_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/openstack/r/networking_router_interface_v2.html">openstack_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/openstack/r/networking_router_route_v2.html">openstack_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-router-v2") %>>
              <a href="/docs/providers/openstack/r/networking_router_v2.html">openstack_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/openstack/r/networking_subnet_v2.html">openstack_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-subnet-route-v2") %>>
              <a href="/docs/providers/openstack/r/networking_subnet_route_v2.html">openstack_networking_subnet_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-subnetpool-v2") %>>
              <a href="/docs/providers/openstack/r/networking_subnetpool_v2.html">openstack_networking_subnetpool_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/openstack/r/networking_secgroup_v2.html">openstack_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/openstack/r/networking_secgroup_rule_v2.html">openstack_networking_secgroup_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-trunk-v2") %>>
              <a href="/docs/providers/openstack/r/networking_trunk_v2.html">openstack_networking_trunk_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-networking-rbac-policy-v2") %>>
              <a href="/docs/providers/openstack/r/networking_rbac_policy_v2.html">openstack_networking_rbac_policy_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-lb") %>>
          <a href="#">Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-lb-member-v1") %>>
              <a href="/docs/providers/openstack/r/lb_member_v1.html">openstack_lb_member_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-monitor-v1") %>>
              <a href="/docs/providers/openstack/r/lb_monitor_v1.html">openstack_lb_monitor_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-pool-v1") %>>
              <a href="/docs/providers/openstack/r/lb_pool_v1.html">openstack_lb_pool_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-vip-v1") %>>
              <a href="/docs/providers/openstack/r/lb_vip_v1.html">openstack_lb_vip_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/openstack/r/lb_loadbalancer_v2.html">openstack_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-listener-v2") %>>
              <a href="/docs/providers/openstack/r/lb_listener_v2.html">openstack_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-pool-v2") %>>
              <a href="/docs/providers/openstack/r/lb_pool_v2.html">openstack_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-member-v2") %>>
              <a href="/docs/providers/openstack/r/lb_member_v2.html">openstack_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/openstack/r/lb_monitor_v2.html">openstack_lb_monitor_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-l7policy-v2") %>>
              <a href="/docs/providers/openstack/r/lb_l7policy_v2.html">openstack_lb_l7policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-lb-l7rule-v2") %>>
              <a href="/docs/providers/openstack/r/lb_l7rule_v2.html">openstack_lb_l7rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-fw-firewall-v1") %>>
              <a href="/docs/providers/openstack/r/fw_firewall_v1.html">openstack_fw_firewall_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-fw-policy-v1") %>>
              <a href="/docs/providers/openstack/r/fw_policy_v1.html">openstack_fw_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-fw-rule-v1") %>>
              <a href="/docs/providers/openstack/r/fw_rule_v1.html">openstack_fw_rule_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-objectstorage") %>>
          <a href="#">Object Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-objectstorage-container-v1") %>>
              <a href="/docs/providers/openstack/r/objectstorage_container_v1.html">openstack_objectstorage_container_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-objectstorage-object-v1") %>>
              <a href="/docs/providers/openstack/r/objectstorage_object_v1.html">openstack_objectstorage_object_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-datasource-objectstorage-tempurl-v1") %>>
              <a href="/docs/providers/openstack/r/objectstorage_tempurl_v1.html">openstack_objectstorage_tempurl_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-vpnaas") %>>
          <a href="#">VPNaaS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-vpnaas-ipsec-policy-v2") %>>
              <a href="/docs/providers/openstack/r/vpnaas_ipsec_policy_v2.html">openstack_vpnaas_ipsec_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-vpnaas-ike-policy-v2") %>>
              <a href="/docs/providers/openstack/r/vpnaas_ike_policy_v2.html">openstack_vpnaas_ike_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-vpnaas-service-v2") %>>
              <a href="/docs/providers/openstack/r/vpnaas_service_v2.html">openstack_vpnaas_service_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-vpnaas-endpoint-group-v2") %>>
              <a href="/docs/providers/openstack/r/vpnaas_endpoint_group_v2.html">openstack_vpnaas_endpoint_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-vpnaas-site_connection-v2") %>>
              <a href="/docs/providers/openstack/r/vpnaas_site_connection_v2.html">openstack_vpnaas_site_connection_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-sharedfilesystem") %>>
          <a href="#">Shared File System Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-sharedfilesystem-securityservice-v2") %>>
              <a href="/docs/providers/openstack/r/sharedfilesystem_securityservice_v2.html">openstack_sharedfilesystem_securityservice_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-sharedfilesystem-sharenetwork-v2") %>>
              <a href="/docs/providers/openstack/r/sharedfilesystem_sharenetwork_v2.html">openstack_sharedfilesystem_sharenetwork_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-sharedfilesystem-share-v2") %>>
              <a href="/docs/providers/openstack/r/sharedfilesystem_share_v2.html">openstack_sharedfilesystem_share_v2</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-sharedfilesystem-share_access-v2") %>>
              <a href="/docs/providers/openstack/r/sharedfilesystem_share_access_v2.html">openstack_sharedfilesystem_share_access_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openstack-resource-keymanager") %>>
          <a href="#">Key Manager Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openstack-resource-keymanager-secret-v1") %>>
              <a href="/docs/providers/openstack/r/keymanager_secret_v1.html">openstack_keymanager_secret_v1</a>
            </li>
            <li<%= sidebar_current("docs-openstack-resource-keymanager-container-v1") %>>
              <a href="/docs/providers/openstack/r/keymanager_container_v1.html">openstack_keymanager_container_v1</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
